       * { /*esto para aplicarle a todos*/
            font-family: "Roboto Mono", monospace; /*fuente de la pagina*/
        }



/*CONTENEDOR PRINCIPAL HEADER*/
        .contenedor { /*contenedor de todo el header*/
            background-image: url(../proyecto-web-1-1/proyecto-web1/assets/img/Developer\ mode\ on.jpg); /*imagen de fondo del header*/
            background-position-x: right; /*imagen a la derecha en horizontal */
            background-position-y: bottom; /*imagen para abajo verticalmente*/
            background-size: 1100px; /*tamaño de la imagen*/
            height: 600px; /*altura de todo el header*/
        }

        .contenedor .nav-principal { /*contendro de la parte de arriba del header*/
            display: flex; /*todos sus elementos uno al lado del otro horizontalmente*/
            justify-content: space-between; /*separa los elementos a los extremos, derecha izquiera*/
        }
        .logo-encabezado img {/*contenedor logo cet 30*/ 
            padding: 15px; /*espacion alrededor del logo*/
            width: 60px; /*ancho del logo*/
        }

        .contenedor .lista-encabezado ul {  /*directamente a la lista del encabezado*/
            display: flex; /*muestra los elementos de la lista uno al lado del otro*/
            list-style: none; /*quita los estilos de lista, en este caso viñetas*/
            gap: 100px; /*espacio horizontal de los elementos*/
            font-weight: 600; /*grosor del texto de la lista*/
            font-size: 20px; /*tamaño del texto de la lista*/
        }
        .lista-encabezado a {/*del contenedor de lista a los a en el*/
            text-decoration: none;/*saco el decorado del a, como la linea*/
            color: rgb(255, 255, 255);/*cambiol el color predeterminado */
        }
        .titulo-imagen { /*titulo directo h1, sobre la img del header*/
            color: rgb(255, 255, 255); /*cambio el color de fuente*/
            position: relative; /*para mover el texto */
            bottom: -150px; /*texto para abajo*/
            left: 20px;/*texto hacia la derecha*/
            font-weight: 900;/*grosor del texto*/
            font-size: 50px;/*tamaño del texto*/

        }

        .btn-img { /*contenedor boton sobre la img header*/
            position: relative;/*para mover el boton segun el contenedor*/
            bottom: -150px;/*boton para abajo*/
            left: 20px;/*boton para la derecha*/
        }

        .btn-img button { /*del contenedor del boton al boton*/
            padding: 10px 15px;/*espacio entre el texto y el borde del boton*/
            border: none;/*para sacar el borde*/
            background-color: rgba(128, 255, 0, 0.685);/*color de fondo del btn*/
        }
        .btn-img a { /*texto como ancla dentro del btn*/
            text-decoration: none;/*para sacar el decorado que trae a*/
            color: black;/*color de texto*/
            font-size: 15px;/*tamaño del contenido*/
            font-weight: 600;/*grosor del contenido*/
        }

        span { /*ubicacion en el header*/
            background-color: aliceblue;/*color de fondo*/
            border-radius: 30px; /*redondeo del borde*/
            padding: 5px;/*espacio del contenido conel borde*/
            margin: 10px;/*espacio del borde para afuera*/
            cursor: pointer;/*cuando pase el cursor cambie*/
            transition: all 0.3s ease; /*animacion mas suave*/
        }

        span:hover {/*lo que se va a ver cuando pase el cursor*/
            background-color: rgba(240, 248, 255, 0.733);/*cambia el color de fondo*/
        }
/*FIN CSS HEADER*/




/*CSS BANNER*/
        aside {/*contenedor banner*/
            height: 50px; /*altura del banner*/
            background-color: chartreuse;/*color de fondo*/
            padding: 15px 15px; /*espacio del contenido al borde*/
            font-size: 20px;/*tamaño del contenido*/
            font-weight: 900;/*grosor del contenido*/
            text-decoration: none;/*sin decopracion de texto*/
        }
        a {/*a dentro del contrenedor aside*/
            text-decoration: none;/*sin decoracion de a*/
            color: black;/*color de contenido*/
            padding: 20px;/*espacio del contenido al borde*/
        }
/*FIN CSS BANNER*/




/*CSS MAIN*/
/*CSS SECCION MUESTRA*/
        .muestra { /*contenedor sobre la seccion de la muestra*/
            display: flex; /*deja los elementos uno al lado del otro*/
            justify-content: space-around; /*el mismo espacio entre los elementos*/
            background-color: rgba(12, 2, 33, 0.842);/*color del fondo del contenedor*/
            color: white;/*color de texto*/
            margin: 15px;/*espacio del borde del contenedor con lo de afuera*/
            border: 2px solid chartreuse; /*borde*/
            border-radius: 30px; /*redondeo de borde*/
        }

        .muestra:hover { /*transicion del contenedor cuando paso cursor*/
            box-shadow: 5px 5px 15px chartreuse; /*le agrego sombreado*/
        }

        .muestra-img { /*contenedor de imagenes */
            width: 75%;/*el ancho que ocupa la imagen*/
            margin: 80px;/*espacio del contenedor de imagenes con el contenedor muestra*/
            gap: 40px;/*espacio entre sus elementos*/
            border-right: 5px solid rgb(172, 249, 95);/*para hacer una linea al lado derecho*/
        }

        .muestra-img img {/*para acceder a las imagenes dentro del contendor*/
            width: 250px;/*ancho de imagenes*/
            height: 400px;/*altura de la img*/
            margin: 20px 10px;/*espacio para afuera de la img*/
            object-fit: cover;/*para que la img no se vea estirada, para que se acomode al espacio*/
            box-shadow: 5px 5px 15px rgba(12, 2, 33, 0.842);/*sombreado a la img*/
            border: 2px solid rgba(0, 0, 0, 0.404);/*borde aaa la img*/
            transition: all 0.3s ease;/*para hacer una animacion suave*/
        }

        .muestra-img img:hover {/*transicion para cuando pase cursor*/
       
            border: none;/*le quito el borde*/
            box-shadow: 5px 5px 15px rgb(0, 0, 0);/*y cambio el sombreado*/
            transform: scale(1.05);/*cambio la escala*/
        }

        .muestra-info{/*contenedor del titulo y la descripcion*/
            display: flex; /*alineo uno al lado del otro*/
            flex-direction: column;/*para que lña direccion de alineacion sea en columna, queda una abajo de otra*/
            width: 50%;/*el ancho que ocupa dentro de su contenedor*/
            font-size: 60px;/*tamaño de contenido*/
            text-align: center;/*alineo el texto al centro*/
            height: 50%;/*la altura que ocupa*/
            margin: 350px 50px;/*espacio para afuera del contenedor*/
        }
        .muestra-info p {/*desde el contenedor accedo a su descripcion*/
            font-size: 20px;/*le cambio el tamaño*/
            font-weight: 300;/*el grosor*/
            text-align: center;/*a donde lo alineo*/
            display: flex;/*para centrar con alineaciones*/
            align-items: center;/*centrado vertical*/
            justify-content: center;/*centrado horizontal*/
        }

        .muestra-info h1 {/*titulo*/
            font-size: 50px;/*tamaño*/
            letter-spacing: 5px;/*espacio entre las letras*/
            text-align: center;/*texto alineado*/
             display: flex;/*para centrar con alineaciones*/
            align-items: center;/*centrado vertical*/
            justify-content: center;/*centrado horizontal*/
        }

        .muestra-info button { /*boton de ver mas*/
            padding: 15px 30px;/*espacio entre el contenido y el borde*/
            border: none;/*sin borde*/
            background-color: rgba(128, 255, 0, 0.599);/*color de fondo*/
            font-size: 20px;/*tamaño texto*/
            font-weight: 600;/*grosor texto*/
            width: 200px;/*ancho btn*/
            box-shadow: 5px 5px 15px rgb(0, 0, 0);/**/            
        }

        .btn-ver {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 100px 30px;
        }


/*FIN CSS MUESTRA*/
/*CSS CONTENEDOR CARTAS */
        .contenedor-cartas { /*contenedor de las cartas de las listas*/
            display: flex;/* Usa flexbox para alinear las cartas en una fila */
            gap: 100px;/* Espacio horizontal entre cada carta */
            justify-content: center;/* Centra las cartas dentro del contenedor */
            background-color: rgba(12, 2, 33, 0.842);/* Fondo */
            margin: 15px;/* espacio afuera del borde del contenedor */
            padding: 45px;/*espacio del contendio añl borde*/
            border: 2px solid chartreuse;/*borde*/
            border-radius: 30px;/*redondeado del borde*/
        }

        .contenedor-cartas:hover {/*transicion del contenedor con el cursor*/
            box-shadow: 5px 5px 15px chartreuse;/*solo agregue sombreado*/
        }

        .contenedor-cartas .cartas-titulo { /*titulo h1 directo*/
            color: rgb(246, 246, 246);/*cambio el color de texto*/
            position: relative;/*posicionamiento*/
            bottom: -250px;/*hacia abajo*/
            width: 20%;/*ancho que ocu`pa*/
            left: 60px;/*hacia la  izquierda*/
            font-size: 50px;
            font-size: 30px;
        }

        .container {
            display: flex;
            gap: 25px;
            flex-wrap: wrap;
            max-width: 1900px;/*ancho maximo que va a ocupar*/
            margin: 0 auto;
            justify-content: center;
        }

        .card { /*la clase del contenedor de cada carta*/
            background-color: rgba(114, 115, 113, 0.432);/*color fondo*/
            width: 500px;/*ancho*/
            border-radius: 40px;/*borde redondeado*/
            cursor: pointer;/*como se ve cuando pase el cursor*/

            transition: background-color 0.3s ease;/*transicion suave*/
        }

        .card:hover {/*transicion de cada carta cuabdo pase el cursor*/
            box-shadow: rgba(128, 255, 0, 0.57) 1px 4px 14px;/*agrego sombreado*/
            transform: scale(1.005);/*la escala del contenedor*/
        }

        .card .opciones-edad {/*contenedor de la fila con el primer contenido de la carta*/
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .botones-edad {/*contenedor botones primeran fila*/
            display: flex;
            width: 55%;
            gap: 15px;
        }

        .card .opciones-edad button { /*directo al boton de ese contenedor*/
            background-color: rgba(255, 255, 255, 0.952);
            border: none;
            border-radius: 25px;
            padding: 9px 14px;
            font-size: 15px;
            font-weight: 600;
            width: 50%;
            cursor: pointer;

            transition: background-color 0.3s ease;

        }

        .botones-edad button:hover {/*transicion con el cursor*/
            box-shadow: rgba(0, 0, 0, 0.445) 0px 5px 15px;
            transform: scale(1.005);
            color: rgba(14, 14, 14, 0.756);
            background-color: rgba(255, 255, 255, 0.747);
        }

        .info-edad h1{/*estilo al h1 */
            font-weight: 800;
            font-size: 35px;
        }
        .opciones-edad .logo-marca img {/*desde los contenedores que lo contioenen ingreso a la img del logo de cada lista*/
            border-radius: 50px;
            width: 60px;
        }
        .opciones-info {/*contendero de todo lo que esta arriba de la imagen*/
            padding: 35px;
        }

        .img-edad img {/*desde el contendor de la imagen ingreso a la imagen de la lista*/
            width: 100%;
            border-radius: 40px;
            height: 500px;
            object-fit: cover;
            cursor: pointer;

            transition: background-color 0.3s ease;
        }

        .img-edad img:hover {/*le hago una transicion*/
            box-shadow: rgba(0, 0, 0, 0.39) 0px 5px 15px;
            transform: scale(1.0005);

        }

        .btn-mas {/* contenedor del boton para ir a las redes de cadaq lista*/
            display: flex;
            justify-content: space-between;
            width: 50%;
            background-color: rgba(255, 255, 255, 0.32);
            border-radius: 30px;
            padding: 0px 15px;
            cursor: pointer;

            transition: background-color 0.3s ease;
        }
        .btn-mas:hover {/*le hago una transicion al contenedoir*/
            box-shadow: rgba(0, 0, 0, 0.704) 0px 5px 15px;
            transform: scale(1.005);
        }
        .btn-mas button {/*ingreso al btn para redes*/
            background-color: transparent;
            border: none;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 600;
            padding: 0;
            color: rgba(0, 0, 0, 0.783);
        }

        .btn-mas span {/*ingreso al icono del boton*/
            background-color: rgb(255, 255, 255);
            padding: 5x;
            border-radius: 20px;
            color: rgba(0, 0, 0, 0.913);
        }

        .btn-mas a,
        .btn-mas button {/*agregarle estilo a la a y al btn a la vez*/
            padding: 0px;
        }
        .info-edad a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
        .probar {/*contenedor que contiene a btn-mas*/
            padding: 15px;
        }
/*FIN CSS CONTENEDOR CARTAS*/
/*CSS TALLERES SEXTO*/
        .cartas-sexto { /*contendero de toda la carta*/
            display: flex;
            gap: 20px;
            justify-content: center;
            background-color: rgba(12, 2, 33, 0.842);
            margin: 15px;
            padding: 45px;
            border: 2px solid chartreuse;
            border-radius: 30px;

        }

        .cartas-sexto:hover {/*le hago una transicion al contenedor*/
            box-shadow: 5px 5px 15px chartreuse;
        }


        .cartas-sexto .sexto {/*para contener todo el contenido*/
            background-color: rgba(0, 0, 0, 0.734);
            border-radius: 30px;
            padding: 45px;
            color: chartreuse;
            gap: 30px;
        }


        .sexto img {/*img del contendero*/
            width: 250px;
            height: 200px;
            object-fit: cover;
            margin: 0px 10px;
            padding: 0px;
            transition: all 0.3s ease;
        }

        .sexto img:hover {/*transicion a la img*/
            box-shadow: 1px 1px 11px chartreuse;
            transform: scale(1.05);
        }
/*FIN CSS TALLER SEXTO*/
/*FIN CSS MAIN*/



/*CSS FOOTER*/
        .contacto {/*contenedor de toda la seccion*/
            text-align: center;
            gap: 100px;
            background-color: rgba(0, 0, 0, 0.938);
            margin: 15px;
            padding: 45px;
            border-radius: 30px;
            border: 2px solid chartreuse;
            color: white;

            transition: all 0.3s ease;
        }

        .contacto:hover {/*transicion a la seccion*/
            box-shadow: 5px 5px 15px rgba(0, 0 , 0, 0.925);
            transform: scale(1.005);
        }


        .contacto h2 {/*titulo del footer*/
            font-size: 40px;
            color: chartreuse;
        }

        .contacto .cont-numeros {/*contenedor de los numeros de contacto*/
            display: flex;
            gap: 50px;
            justify-content: center;

        }

        .cont-redes {/*contenedor de las redes*/
            display: flex;
            justify-content: center;
            padding: 0;
        }

        .cont-redes li { /*directo a la lsita donde coloque las img para quitar estilo*/
            list-style: none;
        }

        .cont-redes img { /*img de las redes*/
            width: 40px;
            border-radius: 30px;
        }
/*FIN CSS FOOTER*/